includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 6
  paths:
    - wp-ops-kit.php
    - includes
  scanFiles:
    - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    - vendor/php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
    - vendor/php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
